﻿@model IEnumerable<Games_Catalog_N01589651.Models.GameDto>
@{
    ViewBag.Title = "List";
}

<h2>List Games</h2>
<a class="btn btn-primary m-3 " href="/Game/New">New Game</a>
<div class="list-group">
    @foreach (var game in Model)
    {
        <div class="list-group-item m-3">
            <a style="text-decoration:none;" href="/Game/Details/@game.GameId">@game.GameName</a>
            <a class="btn btn-primary m-3 float-end" href="/Game/Edit/@game.GameId">Edit</a>
            <a class="btn btn-danger m-3 float-end" href="/Game/DeleteConfirm/@game.GameId">Delete</a>
        </div>

    }
</div>

