﻿
@{
    ViewBag.Title = "Create";
}

<h2>Add Game</h2>
<form action="/Game/Create" method="POST">
    <div class="mb-3">
        <label class="form-label">Game Name: </label> <input class="form-control" type="text" name="GameName" />
    </div>
    <div class="mb-3">
        <label class="form-label">Release Date: </label> <input class="form-control" type="datetime" name="ReleaseDate" />
    </div>
    <div class="mb-3">
        <label class="form-label">Price: </label> <input class="form-control" type="number" name="Price" />
    </div>
    <div class="mb-3">
        <label class="form-label">Description: </label> <input class="form-control" type="text" name="Description" />
    </div>
    <div class="mb-3">
        <label class="form-label">Genre ID: </label> <input class="form-control" type="number" name="GenreId" />
    </div>
    <div class="mb-3">
        <label class="form-label">Developer ID: </label> <input class="form-control" type="text" name="DeveloperId" />
    </div>
    <div class="mb-3">
        <input class="btn btn-primary" type="submit" value="Add Game" />

    </div>
</form>

