﻿@model Games_Catalog_N01589651.Models.ViewModels.DeveloperDetails



@{
    ViewBag.Title = "View";
}

<a href="/Developer/List">Go back to list</a>

<div><strong style="font-size:larger;">@Model.SelectedDeveloper.DeveloperStudioName</strong></div>

@foreach (var game in Model.GameCollection)
{
       <div><ul><li><a style="text-decoration:none;" href="/Game/Details/@game.GameId" />@game.GameName</li></ul></div>
}

