﻿@model Games_Catalog_N01589651.Models.ViewModels.DeveloperDetails



@{
    ViewBag.Title = "View";
}

<a href="/Developer/List">Go back to list</a>
<div><strong>@Model.SelectedDeveloper.DeveloperStudioName</strong></div>

@foreach (var game in Model.GameCollection)
{
       <div>@game.GameName</div>
}

